{
 success: true,
 items: [
 {
  xtype: 'container',
  closable: true,
  title: 'Da movimentare',
    layout: {
	    type: 'vbox',
	    pack: 'start',
	    align: 'stretch'
	},
	
  	

  items: [
       
		 {
				flex: 1,
				layout: 'fit',
        	    title: <%= raw t('forms.to_be_handled.list').to_json -%>, flex: 50,
        	    tools: [
                ],
        	    xtype: 'gridpanel',
				autoScroll: true,  
				scroll: true,      	    
        	    store: new Ext.data.Store({
        	    	autoLoad: true,
        	    	fields: [],
        	    	proxy: {
        	            type: 'ajax',
        	            url: <%= raw  (root_path + 'handling_headers/get_row_by_filtered_type').to_json -%>,
        	            extraParams: {filtered_type: <%= raw filtered_type.to_json -%>},
        	            reader: {
        	                type: 'json',
        	                rootProperty: 'items'
        	            }
        	        }
        	    }),
        	   
 		        	   
        	           	   
        	   dockedItems: [
        	   { 
        	    xtype: 'toolbar', dock: 'top', itemId: 'toptoolbar',
        	    items: [{
				    xtype: 'form',	
				    hidden: true,
				    height: 50,
				    layout: {
					    type: 'hbox',
					    pack: 'start',
					    align: 'stretch'
					},
				    padding: '10 10 10 10',
				    items: [
				    	{
				    		flex: 1,
				            xtype: 'fieldcontainer',
				            fieldLabel: <%= raw t('forms.to_be_handled.date_time').to_json -%>, labelAlign: 'right',
				            layout: 'hbox',
				            items: [
				            	{xtype: 'datefield', name: 'datetime_op_date', width: 120},
				            	{xtype: 'timefield', name: 'datetime_op_time', width:  70},
				            ]
				      }, {	
								flex: 1, padding: '0 0 0 10',
								xtype: 'checkboxfield',
				                boxLabel: <%= raw t('forms.to_be_handled.disable_request').to_json -%>,
				                name: 'hide_check',
				                inputValue: '1',
				                value: 1
				      }    
				     
				    ]
				 }, '->',  {iconCls: 'fa fa-refresh', handler: function(event, toolEl, panel){ 
				 						console.log(this.up('grid'));
				 						this.up('grid').getStore().load();}}
				 ]
			  }
			],

        	           	    
        	    
			    columns: [{
			        dataIndex: 'container_number',
			        text: <%= raw t('forms.to_be_handled.sequence').to_json -%>,
			        width: 50,
			        renderer: function(value, metaData, rec, rowIndex, colIndex, store) {
			         return '<h5>' + (rowIndex + 1) + '</h5>';
			        }			        
			    }, {
			        dataIndex: 'container_number',
			        text: <%= raw t('forms.to_be_handled.container').to_json -%>,
			        width: 220,
			        renderer: function(value, metaData, rec, rowIndex, colIndex, store) {
			         return '<h1>' + rec.get('handling_header').container_number + '</h1>';
			        }			        
			    }, {
			        dataIndex: 'container_number',
			        text: <%= raw t('forms.to_be_handled.details').to_json -%>,
			        flex: 1,
			        renderer: function(value, metaData, rec, rowIndex, colIndex, store) {
			         ret = '';
			         ret += '<table class=import_item_detail>';
			         ret += '<tr><th>Equipment</th><td>' + rec.get('handling_header').equipment.equipment_type + '</td></tr>';
			         ret += '<tr><th>Stato</th><td>' + rec.get('handling_header').container_status + '</td></tr>';	
			         ret += '<tr><th>Vettore/Autista</th><td>' + rec.get('carrier_id_Name') + '/' + rec.get('driver') + '</td></tr>';
			         ret += '</table>';
			         return ret;
			         
			        }			        	        
			    }
			    
			    
        	     , {text: <%= raw t('forms.to_be_handled.io').to_json -%>, width: 60, dataIndex: 'handling_type', tooltip: 'Entrata / Uscita', tdCls: 'm-only-icon', renderer: function(value, metaData){return this.get_image_IO(value, metaData);}}
                 , {text: <%= raw t('forms.to_be_handled.fe').to_json -%>, width: 60, dataIndex: 'container_FE', tooltip: 'Pieno / Vuoto', tdCls: 'm-only-icon', renderer: function(value, metaData){return this.get_image_FE(value, metaData);}}
			    
			   , {
			        dataIndex: 'container_number',
			        text: <%= raw t('forms.to_be_handled.positioning').to_json -%>,
			        flex: 1,
			        renderer: function(value, metaData, rec, rowIndex, colIndex, store) {
			         ret = '';
			         ret += '<table class=import_item_detail>';			         
					 ret += '<tr><th>Fila</th><td>' + rec.get('handling_header').fila + '</td></tr>';			         
					 ret += '<tr><th>Blocco</th><td>' + rec.get('handling_header').blocco + '</td></tr>';
					 ret += '<tr><th>Tiro</th><td>' + rec.get('handling_header').tiro + '</td></tr>';
			         ret += '</table>';
			         return ret;
			         
			        }			        	        
			    }, {
			        text: <%= raw t('forms.to_be_handled.ok').to_json -%>, width: 100, hidden: false, sortable: false,
			        renderer: function(value, metaData, rec, rowIndex, colIndex, store) {			        
			        
			        	var loc_grid = this;
			        	if (Ext.isEmpty(rec.get('status')) == false) return '';
			            var id = Ext.id();
			            setTimeout(function() {
			            			          
			                ok_img = 'fa-check-circle';
			                				            
			            
			                var buttonOK = Ext.create('Ext.button.Button', {
			                	
								text: '<i class="fa ' + ok_img + ' fa-3x"></i>',
		                		scale: 'large',			                    
			                        handler: function(button, b, c, d, e) {
			                        
			                           //costruisco una form
			                           //se ho spuntato 'hide_check' committo subito
			                           //altrimenti mostro la form per la conferma
			                           header_form = loc_grid.getDockedComponent('toptoolbar').down('form').getForm();
			                           header_form_values = header_form.getValues();
			                           
			                           loc_form = Ext.create('Ext.form.Panel', {
										    title: '',
										    bodyPadding: 10,
										    defaultType: 'textfield',
										    	layout: {
												    type: 'vbox',
												    align : 'stretch',
												    pack  : 'start',
												},
										    items: [
										    {
										            xtype: 'fieldcontainer',
										            fieldLabel: <%= raw t('forms.to_be_handled.date_time').to_json -%>,
										            layout: 'hbox',
										            items: [
										                {xtype: 'hiddenfield', name: 'rec_id', value: rec.get('id')},										                 
										            	{xtype: 'datefield', name: 'datetime_op_date', width: 120, value: header_form_values.datetime_op_date},
										            	{xtype: 'timefield', name: 'datetime_op_time', width:  70, value: header_form_values.datetime_op_time},
										            ]
										      }, 
										      {xtype: 'textareafield', name: 'notes', fieldLabel: 'Notes'}										    										    										    
										    ]
										    , 	buttons:
											        [{
											            text: <%= raw t('forms.to_be_handled.confirm').to_json -%>,
											            handler: function (btn, evt) {              
											             form = this.up('form').getForm();
											             tmp_win  = this.up('window');
											             if (form.isValid()) {
															Ext.Ajax.request({
															   method: 'POST',
															   url: '<%= url_for(:controller=>'handling_headers', :action=>'hitems_close_to_be_moved') -%>',
															   jsonData: {
															   	data: {handling_item_id: rec.get('id')}
															   },
															   success: function(response, opts) {
															      store.remove(rec);
															      tmp_win.close();
															   },
															   failure: function(response, opts) {
															      console.log('server-side failure with status code ' + response.status);
															   }
															});	
														  return false;												             
											             }
											            }
											          }
											         ]
  
										});
										
										//submit con hide_check
										if (header_form.findField('hide_check').getValue() == true){
										 
										 //TODO: ottimizzazione:
										 // eseguire evento sul bottone salva
										 
											Ext.Ajax.request({
											   method: 'POST',
											   url: '<%= url_for(:controller=>'handling_headers', :action=>'hitems_close_to_be_moved') -%>',
											   jsonData: {
											   	data: {handling_item_id: rec.get('id')}
											   },
											   success: function(response, opts) {
											      store.remove(rec);
											   },
											   failure: function(response, opts) {
											      console.log('server-side failure with status code ' + response.status);
											   }
											});
										  		
										  return false;										
										}
										
										
										
			                           loc_win = Ext.create('Ext.window.Window',{
										    layout: 'fit',
										    items: loc_form,
										    title: <%= raw t('forms.to_be_handled.import_confirm').to_json -%>,
										    width: 500,
										    height: 300,
										    id: 'myWindow'
										}).show();
													                           			                           
			                           return false;

			                        }, scope: rec

			                });
			                
			                if (Ext.get(id)) {
			                    buttonOK.render(Ext.get(id));
			                }
			            }, 1);
			            return '<div id="' + id + '"></div>';
			        }
			     }
			     
			     
			     
        
        ],
        
        
        
        	//TODO: DRY
				get_image_IO: function(val, metaData){
					if (val == 'I') metaData.tdAttr = 'data-qtip="Entrata"';
					if (val == 'O') metaData.tdAttr = 'data-qtip="Uscita"';					
					
	 				if (val == 'I') return '<i class="fa fa-download fa-3x" style="color:green;"></i>';
	 				if (val == 'O') return '<i class="fa fa-upload fa-3x" style="color:red;"></i>';
				},
				get_image_FE: function(val, metaData){
					if (val == 'F') metaData.tdAttr = 'data-qtip="Pieno"';
					if (val == 'E') metaData.tdAttr = 'data-qtip="Vuoto"';					
					
					if (val == 'F') return '<i class="fa fa-square fa-3x" style="color:brown;"></i>';
					if (val == 'E') return '<i class="fa fa-square-o fa-3x" style="color:brown;"></i>';
				},        
			    
			    

			    
			    listeners2: {
					    cellclick: function(gridView,htmlElement,columnIndex,dataRecord){
					        console.log(gridView);
					        console.log(htmlElement);
					        console.log(columnIndex);
					        console.log(dataRecord);
					    }
					}
				    

                        	    
        	}    
   
   
   
  ]
 }
 ]
}