{
 success: true,
 items: [
 {
  xtype: 'container',
  closable: true,
  title: 'Danneggiati',
    layout: {
	    type: 'vbox',
	    pack: 'start',
	    align: 'stretch'
	},
	
  	

  items: [
       
   // grid con righe import
		 {
				flex: 1,
				layout: 'fit',
        	    title: <%= raw t('forms.damageds.details_label').to_json -%>, flex: 50,
        	    tools: [
                ],
        	    xtype: 'gridpanel',
				autoScroll: true,  
				scroll: true,      	    
        	    store: new Ext.data.Store({
        	    	autoLoad: true,
        	    	fields: [],
        	    	proxy: {
        	            url: <%= raw  (root_path + 'handling_headers/get_row_by_filtered_type').to_json -%>,
        	            extraParams: {
        	            	filtered_type: <%= raw filtered_type.to_json -%>,
        	            	form_user: {}
        	            },
        	            reader: {
        	                type: 'json',
							method: 'POST',        	                
        	                rootProperty: 'items'
        	            },
        	            paramsAsJson: true,
						method: 'POST',
						type: 'ajax',
			
						//Add these two properties
						actionMethods: {
							read: 'POST'
						},        	            
        	            
        	        }
        	    }),
        	   
 		        	   
        	           	   
        	   dockedItems: [
        	   { 
        	    xtype: 'toolbar', dock: 'top', itemId: 'toptoolbar',
        	    items: [{
				    xtype: 'form',	
				    height: 50,
				    layout: {
					    type: 'hbox',
					    pack: 'start',
					    align: 'stretch'
					},
				    padding: '10 10 10 10',
				    items: [
						{
				            xtype: 'radiogroup',
				            fieldLabel: '',
				            layout: 'hbox',
				            items: [{
				                boxLabel: 'Da autorizzare',
				                name: 'damaged_status',
				                inputValue: 'TO_AUTH',
				                width: 150                
				            }, {
				                boxLabel: 'Autorizzati',
				                name: 'damaged_status',
				                inputValue: 'AUTH',
				                width: 150
				            }, {
				                boxLabel: 'Entrambi',
				                name: 'damaged_status',
				                inputValue: '',
				            	checked: true,
				                width: 150
				            }]
				        },	        			
				     
				    ]
				 }, '->',  {iconCls: 'fa fa-refresh', handler: function(event, toolEl, panel){ 
				 
			                    header_form = this.up('grid').getDockedComponent('toptoolbar').down('form').getForm();
			                    header_form_values = header_form.getValues();

				    			this.up('grid').store.proxy.extraParams.form_user = header_form_values;				 				 
				 				this.up('grid').getStore().load();}}
				 ]
			  }
			],
        	           	    
        	    
			    columns: [{
			        dataIndex: 'container_number',
			        text: <%= raw t('forms.damageds.sequence').to_json -%>,
			        width: 50,
			        renderer: function(value, metaData, rec, rowIndex, colIndex, store) {
			         return '<h5>' + (rowIndex + 1) + '</h5>';
			        }			        
			    }, {
			        dataIndex: 'container_number',
			        text: <%= raw t('forms.damageds.container').to_json -%>,
			        width: 220,
			        renderer: function(value, metaData, rec, rowIndex, colIndex, store) {
			         ret = '<h1>' + rec.get('container_number') + '</h1>';
			          ret += '<h5>Movim #' + rec.get('id') + '&nbsp;';
			            ret += ' ' + pb_get_image_status(rec.get('handling_status'));
			            ret += ' ' + pb_get_image_in_terminal(rec.get('container_in_terminal'));			            
			            ret += ' ' + pb_get_image_FE(rec.get('container_FE'));
			            ret += ' ' + pb_get_image_with_booking(rec.get('booking_id'));
			            ret += ' ' + pb_get_image_lock(rec.get('lock_type'));
			          ret += '</h5>';
			          return ret;			         
			        }			        
			    }, {
			        dataIndex: 'container_number',
			        text: <%= raw t('forms.damageds.details').to_json -%>,
			        flex: 1,
			        renderer: function(value, metaData, rec, rowIndex, colIndex, store) {
			         ret = '';
			         ret += '<table class=import_item_detail>';
			         ret += '<tr><th>Compagnia</th><td>' + rec.data.shipowner.name + '</td></tr>';
			         ret += '<tr><th>Equipment</th><td>' + rec.get('equipment_id_Name') + '</td></tr>';			         			         
			         ret += '</table>';
			         return ret;
			         
			        }			        	        
			    }, {
			        dataIndex: 'container_number',
			        text: <%= raw t('forms.damageds.date').to_json -%>,
			        flex: 1,
			        renderer: function(value, metaData, rec, rowIndex, colIndex, store) {
			         ret = '';
			         ret += '<table class=import_item_detail>';			         
					 ret += '<tr><th>Segnalato il</th><td>' + Ext.util.Format.date(rec.get('get_lock_DAMAGED_date'), 'd-m-Y H:i') + '</td></tr>';			         
					 ret += '<tr><th>Autorizzato il</th><td>' + Ext.util.Format.date(rec.get('get_lock_DAMAGED_AU_date'), 'd-m-Y H:i') + '</td></tr>';
			         ret += '</table>';
			         return ret;
			         
			        }			        	        
			    }        
        ],
			    
			    

			    
			    listeners: {
					    celldblclick: function(gridView,htmlElement,columnIndex,rec){
					        if (columnIndex == 1) { //doppio click sul num_container... apro il movimento aperto
									new_rec = HandlingHeader.load(rec.get('id'));
							        newPanel = Ext.create('FeedViewer.MovimentoPanel', {
										title: 'Mov. ' + rec.get('container_number'),
										closable: true			
							        });
							        
			                		newPanel.getViewModel().setData({rec: new_rec, 
			                			is_handling_editable: false,
			                			is_container_editable: false
			                		});
			                    	myApp.feedInfo.add(newPanel).show();
						            myApp.feedInfo.setActiveTab(myApp.feedInfo.items.length - 1);    
					        }
					    }
					}

				    

                        	    
        	}    
   
   
   
  ]
 }
 ]
}