<style type="text/css">
<!--
@page { size:auto; margin: 1cm }
-->
</style>

<style media="print">
 h1.medaT-report{padding: 0px 0px; margin: 0px 0px; font-size: 13px;}
 table.medaT-report tr td, table.medaT-report tr th{font-size: 9px; padding: 0px 2px} 
</style>


<h1>Verifica margine riparazioni</h1>

<%
#Recupero elenco movimenti in base ai parametri

formValues = JSON.parse params['formValues']

items = RepairHandlingItem.all
items = items.where({handling_headers: {shipowner_id: formValues['shipowner_id']}}) unless formValues['shipowner_id'].blank?
items = items.where("handling_headers.id IS NOT NULL")

#gestione campi data/ora
if !formValues['date_op_from'].blank?
	date_from = Time.zone.parse(formValues['date_op_from'] + ' ' + '00:00:00')
end

if !formValues['date_op_to'].blank?
	date_to = Time.zone.parse(formValues['date_op_to'] + ' ' + '23:59:59')
end

items = items.where("repair_completed_at >= ?", date_from) unless formValues['date_op_from'].blank?
items = items.where("repair_completed_at <= ?", date_to) unless formValues['date_op_to'].blank?

items = items.eager_load({:handling_item => :handling_header})
items = items.eager_load(:repair_estimate_items)


group_shipowner = items.group_by { |d| d.handling_item.handling_header.shipowner_id }
%>


<%
 ######################################################
 #ShipOwner
 ###################################################### 
%>
<% group_shipowner.each do |so_id, so_val| %>
 <% so = Shipowner.find(so_id) %>

    <p class="bg-primary" style="padding: 10px"><%= so.name -%></p>
 

	<%
 	######################################################
 	#Tipo container
 	###################################################### 
	%>
 	<% group_op = so_val.group_by { |d|
 	
 		#non stacco
 		so_id
 		} %>
	<% group_op.each do |op_id, op_val| %>

		<%
 		######################################################
 		# Handling Item
 		###################################################### 
		%>
		<table class="table table-striped table-bordered table-condensed medaT-report">
		 <tr>
		   <th width=100>Num containers</th>
		   <th width=80 style="text-align: right;">Costo da fornitore</th>
		   <th width=80 style="text-align: right;">Costo a compagnia</th>
		   <th width=80 style="text-align: right;">Margine</th>
		 </tr>


		<% 
			#scorro e totalizzo
			num_containers = op_val.count
			tot_a_compagnia = 0
			tot_da_fornitore = 0
			tot_a_compagnia_material = 0
			tot_a_compagnia_time = 0
			tot_da_fornitore_material = 0
			tot_da_fornitore_time = 0
			
			tot_a_compagnia_material_int = 0
			tot_a_compagnia_time_int = 0
			tot_da_fornitore_material_int = 0
			tot_da_fornitore_time_int = 0
		
			op_val.group_by { |d| d }.each do |a, a_opyy|
			
				#leggo righe autorizzate
				a_op = a.repair_estimate_items.select { |rei|  rei.confirmed.nil? || rei.confirmed  } #.where("confirmed IS NULL or confirmed != false")
				
				a_op.each do |r|
					#a compagnia
					tot_a_compagnia_time += r.quantity.to_f * r.customer_time.to_f * r.customer_hourly_cost.to_f
				 	tot_a_compagnia_material += r.quantity.to_f * r.customer_material_price.to_f
				 	
				 	tot_da_fornitore_time += r.quantity.to_f * r.provider_time.to_f * r.provider_hourly_cost.to_f
        			tot_da_fornitore_material += r.quantity.to_f * r.provider_material_price.to_f
        			
        			if r.is_internal
        				tot_a_compagnia_time_int += r.quantity.to_f * r.customer_time.to_f * r.customer_hourly_cost.to_f
				 		tot_a_compagnia_material_int += r.quantity.to_f * r.customer_material_price.to_f
				 	
				 		tot_da_fornitore_time_int += r.quantity.to_f * r.provider_time.to_f * r.provider_hourly_cost.to_f
        				tot_da_fornitore_material_int += r.quantity.to_f * r.provider_material_price.to_f
        			end
        			
				end
				

		   	end		
		   	
		   	tot_a_compagnia = tot_a_compagnia_material + tot_a_compagnia_time
		   	tot_da_fornitore = tot_da_fornitore_material + tot_da_fornitore_time
		%> 		 			
			
		
		
		 	<tr>
				<td><%= num_containers -%></td>				
				<td class=n align=right><%= number_to_currency(tot_da_fornitore) -%></td>
				<td class=n align=right><%= number_to_currency(tot_a_compagnia) -%></td>
				<td class=n align=right><%= number_to_currency(tot_a_compagnia - tot_da_fornitore) -%></td>
			</tr>
			
			
			<tr><th colspan=4>Di cui</th></tr>			
			<tr>
				<td class=n align=right>Materiale</td>				
				<td class=n align=right><%= number_to_currency(tot_da_fornitore_material) -%></td>
				<td class=n align=right><%= number_to_currency(tot_a_compagnia_material) -%></td>
				<td class=n align=right><%= number_to_currency(tot_a_compagnia_material - tot_da_fornitore_material) -%></td>
			</tr>
			<tr>
				<td class=n align=right>Manodopera</td>				
				<td class=n align=right><%= number_to_currency(tot_da_fornitore_time) -%></td>
				<td class=n align=right><%= number_to_currency(tot_a_compagnia_time) -%></td>
				<td class=n align=right><%= number_to_currency(tot_a_compagnia_time - tot_da_fornitore_time) -%></td>
			</tr>
		
			<tr><th colspan=4>Di cui lavorazioni interne</th></tr>			
			<tr>
				<td class=n align=right>Materiale</td>				
				<td class=n align=right><%= number_to_currency(tot_da_fornitore_material_int) -%></td>
				<td class=n align=right><%= number_to_currency(tot_a_compagnia_material_int) -%></td>
				<td class=n align=right><%= number_to_currency(tot_a_compagnia_material_int - tot_da_fornitore_material_int) -%></td>
			</tr>
			<tr>
				<td class=n align=right>Manodopera</td>				
				<td class=n align=right><%= number_to_currency(tot_da_fornitore_time_int) -%></td>
				<td class=n align=right><%= number_to_currency(tot_a_compagnia_time_int) -%></td>
				<td class=n align=right><%= number_to_currency(tot_a_compagnia_time_int - tot_da_fornitore_time_int) -%></td>
			</tr>

		
		
		</table>

	<% end %>
 
<% end %>