{
 success: true,
 items: [
 {
  xtype: 'form'
  , flex: 1
  , scrollable: 'y'
  , title: 'Nuova richiesta', closable: true
  ,	layout: {
	    type  : 'hbox',
	    align : 'begin',
	    pack  : 'start'
	}	
		
  //, defaults: {padding: '0px 0px 0px 0px'}	
  , margin: '10px 10px' 	
	
  , items: [
     //PARTE SX: dati richiesta
		{
			    xtype: 'fieldcontainer'
			  , flex: 1
			  ,	layout: {type: 'vbox', align : 'begin', pack  : 'start'}
			  , defaults: {labelAlign: 'right', width: '90%', fieldStyle: 'font-size: 1.5em;'}
	  		  , style: {padding: '15px'}			  	
	    	  , items: [
	    	        <%= raw extjs_std_combo_model('customer', @item, fieldLabel: 'Cliente') -%>,
					<%= raw extjs_std_combo('shipowner_id', @item,
							:fieldLabel => 'Compagnia',
							:input_name => 'shipowner_id',
							:valueField => 'id',
							:displayField => 'name',
							:store => extjs_std_store_data(Shipowner.all),
							:listeners => "change: function(combo, record, index) {
										      var me = this, //combo
										          m_form = me.up('form');										          
										      m_form.set_to_be_made_available.call(m_form, m_form);
										      m_form.check_if_managed(m_form, m_form);
										    }"
						)				
					-%>               			    
			     , <%= raw extjs_std_combo('activity_op_id', Activity.new,
			     				:fieldLabel => 'Operazione',
			     				:input_name => 'activity_op_id', :valueField => 'id', :displayField => 'name',
			     				:store => extjs_std_store_data(ActivityOp.all_by_type_code('CUST_INSPECTION')),
								:listeners => "change: function(combo, record, index) {								  
										      var me = this, //combo
										          m_form = me.up('form');										          
										      m_form.set_to_be_made_available.call(m_form, m_form);
										      m_form.check_if_managed(m_form, m_form);
										    }"			     				
			     				) -%>
			     , <%= raw extjs_std_booleanfield('to_be_made_available', Activity.new, {}, {hidden: true,readOnly: false, fieldLabel: 'Messa a disposizione', width: 300, labelWidth: 260, disabled: false}) -%>			     
				 , <%= raw extjs_std_combo_model('terminal', Activity.new, {}, {flex: 1, fieldLabel: 'Terminal'}) -%>				 			     
			     
			     , {xtype: 'textfield',   fieldLabel: 'Booking', flex: 1, name: 'booking_number', maxLength: 10}			     
			     , {xtype: 'numberfield', fieldLabel: 'Quantit&agrave;', flex: 1, name: 'quantity', hideTrigger: true, width: '40%', allowBlank: false}
			     , <%= raw extjs_std_datefield('expiration_date', Activity.new, {}, {fieldLabel: 'Da effettuare il'}) -%>
			     , {xtype: 'textarea',   fieldLabel: 'Note', name: 'notes', fieldStyle: 'font-size: 1em;'}
				 , {
		            xtype: 'filefield',
		            allowBlank: true,
		            emptyText: 'Seleziona file da PC',
		            fieldLabel: 'File',
		            name: 'scan_file',
		            buttonText: '',
		            buttonConfig: {
		                iconCls: 'upload-icon'
		            }
			      }, {
			      	xtype: 'displayfield', fieldLabel: 'Tipo', value: '(file formato immagine o pdf)', fieldStyle: 'font-size: 11px'
			      }
			     , {xtype: 'hiddenfield', name: 'authenticity_token', value: '<%= form_authenticity_token %>'}			     			     
				] //items
		}, 
				
		{
		  xtype: 'panel', width: 2, bodyStyle: {background: 'grey'}, height: '100%'
		},
		
		//PARTE DX: note e container
		{
			    xtype: 'panel'			  
			  , flex: 2
			  ,	layout: {type: 'vbox', align : 'stretch', pack  : 'start'}			  	
	    	  , items: [				
					{
					    xtype: 'fieldcontainer'
					  , style: {border: '1px solid grey'}			  
					  , flex: 1
					  ,	layout: {type: 'vbox', align : 'begin', pack  : 'start'}
					  , defaults: {labelAlign: 'right', fieldStyle: 'font-size: 1.5em;', maxLength: 11}
			  		  , style: {padding: '10px 10px'}			  	
			    	  , items: [
			    	  		{html: '<h1>Indicare i container se gi&agrave; a conoscenza</h1>'}
					      , {xtype: 'fieldcontainer', layout: {type: 'hbox', align : 'begin', pack  : 'start'}, 
					      		defaults: {labelAlign: 'right'}, items: [  
					      		{xtype: 'textfield',   fieldLabel: '1)',  flex: 1, name: 'container_number[]', fieldStyle: 'font-size: 1.5em;', maxLength: 11},
					      		{xtype: 'textarea',    fieldLabel: 'Note',  flex: 1, name: 'container_notes[]'}
					      		]}
					      , {xtype: 'fieldcontainer', layout: {type: 'hbox', align : 'begin', pack  : 'start'}, 
					      		defaults: {labelAlign: 'right'}, items: [  
					      		{xtype: 'textfield',   fieldLabel: '2)',  flex: 1, name: 'container_number[]', fieldStyle: 'font-size: 1.5em;', maxLength: 11},
					      		{xtype: 'textarea',    fieldLabel: 'Note',  flex: 1, name: 'container_notes[]'}
					      		]}
					      , {xtype: 'fieldcontainer', layout: {type: 'hbox', align : 'begin', pack  : 'start'}, 
					      		defaults: {labelAlign: 'right'}, items: [  
					      		{xtype: 'textfield',   fieldLabel: '3)',  flex: 1, name: 'container_number[]', fieldStyle: 'font-size: 1.5em;', maxLength: 11},
					      		{xtype: 'textarea',    fieldLabel: 'Note',  flex: 1, name: 'container_notes[]'}
					      		]}
					      , {xtype: 'fieldcontainer', layout: {type: 'hbox', align : 'begin', pack  : 'start'}, 
					      		defaults: {labelAlign: 'right'}, items: [  
					      		{xtype: 'textfield',   fieldLabel: '4)',  flex: 1, name: 'container_number[]', fieldStyle: 'font-size: 1.5em;', maxLength: 11},
					      		{xtype: 'textarea',    fieldLabel: 'Note',  flex: 1, name: 'container_notes[]'}
					      		]}
					      , {xtype: 'fieldcontainer', layout: {type: 'hbox', align : 'begin', pack  : 'start'}, 
					      		defaults: {labelAlign: 'right'}, items: [  
					      		{xtype: 'textfield',   fieldLabel: '5)',  flex: 1, name: 'container_number[]', fieldStyle: 'font-size: 1.5em;', maxLength: 11},
					      		{xtype: 'textarea',    fieldLabel: 'Note',  flex: 1, name: 'container_notes[]'}
					      		]}
					      , {xtype: 'fieldcontainer', layout: {type: 'hbox', align : 'begin', pack  : 'start'}, 
					      		defaults: {labelAlign: 'right'}, items: [  
					      		{xtype: 'textfield',   fieldLabel: '6)',  flex: 1, name: 'container_number[]', fieldStyle: 'font-size: 1.5em;', maxLength: 11},
					      		{xtype: 'textarea',    fieldLabel: 'Note',  flex: 1, name: 'container_notes[]'}
					      		]}
					      , {xtype: 'fieldcontainer', layout: {type: 'hbox', align : 'begin', pack  : 'start'}, 
					      		defaults: {labelAlign: 'right'}, items: [  
					      		{xtype: 'textfield',   fieldLabel: '7)',  flex: 1, name: 'container_number[]', fieldStyle: 'font-size: 1.5em;', maxLength: 11},
					      		{xtype: 'textarea',    fieldLabel: 'Note',  flex: 1, name: 'container_notes[]'}
					      		]}
					      , {xtype: 'fieldcontainer', layout: {type: 'hbox', align : 'begin', pack  : 'start'}, 
					      		defaults: {labelAlign: 'right'}, items: [  
					      		{xtype: 'textfield',   fieldLabel: '8)',  flex: 1, name: 'container_number[]', fieldStyle: 'font-size: 1.5em;', maxLength: 11},
					      		{xtype: 'textarea',    fieldLabel: 'Note',  flex: 1, name: 'container_notes[]'}
					      		]}
					      , {xtype: 'fieldcontainer', layout: {type: 'hbox', align : 'begin', pack  : 'start'}, 
					      		defaults: {labelAlign: 'right'}, items: [  
					      		{xtype: 'textfield',   fieldLabel: '9)',  flex: 1, name: 'container_number[]', fieldStyle: 'font-size: 1.5em;', maxLength: 11},
					      		{xtype: 'textarea',    fieldLabel: 'Note',  flex: 1, name: 'container_notes[]'}
					      		]}
					      , {xtype: 'fieldcontainer', layout: {type: 'hbox', align : 'begin', pack  : 'start'}, 
					      		defaults: {labelAlign: 'right'}, items: [  
					      		{xtype: 'textfield',   fieldLabel: '10)',  flex: 1, name: 'container_number[]', fieldStyle: 'font-size: 1.5em;', maxLength: 11},
					      		{xtype: 'textarea',    fieldLabel: 'Note',  flex: 1, name: 'container_notes[]'}
					      		]}
					      , {xtype: 'fieldcontainer', layout: {type: 'hbox', align : 'begin', pack  : 'start'}, 
					      		defaults: {labelAlign: 'right'}, items: [  
					      		{xtype: 'textfield',   fieldLabel: '11)',  flex: 1, name: 'container_number[]', fieldStyle: 'font-size: 1.5em;', maxLength: 11},
					      		{xtype: 'textarea',    fieldLabel: 'Note',  flex: 1, name: 'container_notes[]'}
					      		]}
					      , {xtype: 'fieldcontainer', layout: {type: 'hbox', align : 'begin', pack  : 'start'}, 
					      		defaults: {labelAlign: 'right'}, items: [  
					      		{xtype: 'textfield',   fieldLabel: '12)',  flex: 1, name: 'container_number[]', fieldStyle: 'font-size: 1.5em;', maxLength: 11},
					      		{xtype: 'textarea',    fieldLabel: 'Note',  flex: 1, name: 'container_notes[]'}
					      		]}
					      , {xtype: 'fieldcontainer', layout: {type: 'hbox', align : 'begin', pack  : 'start'}, 
					      		defaults: {labelAlign: 'right'}, items: [  
					      		{xtype: 'textfield',   fieldLabel: '13)',  flex: 1, name: 'container_number[]', fieldStyle: 'font-size: 1.5em;', maxLength: 11},
					      		{xtype: 'textarea',    fieldLabel: 'Note',  flex: 1, name: 'container_notes[]'}
					      		]}
					      , {xtype: 'fieldcontainer', layout: {type: 'hbox', align : 'begin', pack  : 'start'}, 
					      		defaults: {labelAlign: 'right'}, items: [  
					      		{xtype: 'textfield',   fieldLabel: '14)',  flex: 1, name: 'container_number[]', fieldStyle: 'font-size: 1.5em;', maxLength: 11},
					      		{xtype: 'textarea',    fieldLabel: 'Note',  flex: 1, name: 'container_notes[]'}
					      		]}
					      , {xtype: 'fieldcontainer', layout: {type: 'hbox', align : 'begin', pack  : 'start'}, 
					      		defaults: {labelAlign: 'right'}, items: [  
					      		{xtype: 'textfield',   fieldLabel: '15)',  flex: 1, name: 'container_number[]', fieldStyle: 'font-size: 1.5em;', maxLength: 11},
					      		{xtype: 'textarea',    fieldLabel: 'Note',  flex: 1, name: 'container_notes[]'}
					      		]}					      					      					      
					      , {xtype: 'fieldcontainer', layout: {type: 'hbox', align : 'begin', pack  : 'start'}, 
					      		defaults: {labelAlign: 'right'}, items: [  
					      		{xtype: 'textfield',   fieldLabel: '16)',  flex: 1, name: 'container_number[]', fieldStyle: 'font-size: 1.5em;', maxLength: 11},
					      		{xtype: 'textarea',    fieldLabel: 'Note',  flex: 1, name: 'container_notes[]'}
					      		]}
					      , {xtype: 'fieldcontainer', layout: {type: 'hbox', align : 'begin', pack  : 'start'}, 
					      		defaults: {labelAlign: 'right'}, items: [  
					      		{xtype: 'textfield',   fieldLabel: '17)',  flex: 1, name: 'container_number[]', fieldStyle: 'font-size: 1.5em;', maxLength: 11},
					      		{xtype: 'textarea',    fieldLabel: 'Note',  flex: 1, name: 'container_notes[]'}
					      		]}
					      , {xtype: 'fieldcontainer', layout: {type: 'hbox', align : 'begin', pack  : 'start'}, 
					      		defaults: {labelAlign: 'right'}, items: [  
					      		{xtype: 'textfield',   fieldLabel: '18)',  flex: 1, name: 'container_number[]', fieldStyle: 'font-size: 1.5em;', maxLength: 11},
					      		{xtype: 'textarea',    fieldLabel: 'Note',  flex: 1, name: 'container_notes[]'}
					      		]}
					      , {xtype: 'fieldcontainer', layout: {type: 'hbox', align : 'begin', pack  : 'start'}, 
					      		defaults: {labelAlign: 'right'}, items: [  
					      		{xtype: 'textfield',   fieldLabel: '19)',  flex: 1, name: 'container_number[]', fieldStyle: 'font-size: 1.5em;', maxLength: 11},
					      		{xtype: 'textarea',    fieldLabel: 'Note',  flex: 1, name: 'container_notes[]'}
					      		]}
					      , {xtype: 'fieldcontainer', layout: {type: 'hbox', align : 'begin', pack  : 'start'}, 
					      		defaults: {labelAlign: 'right'}, items: [  
					      		{xtype: 'textfield',   fieldLabel: '20)',  flex: 1, name: 'container_number[]', fieldStyle: 'font-size: 1.5em;', maxLength: 11},
					      		{xtype: 'textarea',    fieldLabel: 'Note',  flex: 1, name: 'container_notes[]'}
					      		]}					      					      					      
					        
						] //items
					}				]
		}			
		
		
  ]
  


  , dockedItems: [  
   { 
    xtype: 'toolbar', dock: 'bottom',   
    items: [  
        {xtype: 'tbfill'}
      , {text: 'Invia richiesta', scale: 'large', iconCls: 'fa fa-plus fa-2x', cls: 'btn-add'
         , handler: function(){this.up('form').click_save.call(this, this.up('form'))}}
      , {xtype: 'tbfill'}
    ]
   }
  ]

  
 , set_to_be_made_available(form){
   form.getForm().findField('to_be_made_available').setValue(false);
   //in base a compagnia (se gestisco i pieni) e al flag sull'operazione scelta (to_be_made_available) setto o meno il flag "Messa a disposizione"
   var 	f_shipowner 	= form.getForm().findField('shipowner_id'),
   		f_activity_op 	= form.getForm().findField('activity_op_id');   
   		
   if (!Ext.isEmpty(f_shipowner.valueModels[0]) && !Ext.isEmpty(f_activity_op.valueModels[0])){
   	 if (f_shipowner.valueModels[0].get('manage_full') == true && f_activity_op.valueModels[0].get('to_be_made_available') == true)
   	 	form.getForm().findField('to_be_made_available').setValue(true);
   }
   
 }
  
  
  
 , check_if_managed(form){
 	//in base a compagnia (se gestisco i pieni) escludo la possibilita' di selezionare alcune attivita'
   var 	f_shipowner 	= form.getForm().findField('shipowner_id'),
   		f_activity_op 	= form.getForm().findField('activity_op_id');   
   		
   				
   if (!Ext.isEmpty(f_shipowner.valueModels[0]) && !Ext.isEmpty(f_activity_op.valueModels[0])){
   	 if (f_shipowner.valueModels[0].get('manage_full') == true && 
   	 			f_activity_op.valueModels[0].get('exclude_if_manage_full') == true){
   	 		show_notifica('Operazione non ammessa per la compagnia selezionata.');
   	 		f_activity_op.setValue(null);
   	 	}
   }
 	
 }
  
 , click_save: function(form){
 	if (form.isValid()){
		Ext.MessageBox.confirm('Richieta conferma', 'Confermi l\'invio della richiesta?', function(btn){												
			if(btn === 'yes'){
				form.exe_save.call(form, form);
			}
		});	 	
 	}
 }
 
 , exe_save: function(form){
 	var url = <%= raw url_for(:controller=>'custom_inspections', :action=>'exe_save').to_json -%>;
    //std_ajax_request.call(form, url, {data: form.getValues()}, 'exe_save_ok');
    form.submit({
        url: url,
        waitMsg: 'Salvataggio in corso....',
        success: function(fp, o) {
			var returnData = o.result; //Ext.JSON.decode(result.responseText);
			form.exe_save_ok.call(form, returnData);
        },
		failure: function(fp, o) {
            //msg('Success', 'Processed file "' + o.result.file + '" on the server');
            Ext.Msg.alert('Import non eseguito. ', o.result.message);	                            
        }	                        
    });
 }

 , exe_save_ok: function(returnData){
 	var me = this;
 	show_notifica('Richiesta inviata con successo');
 	me.reset();
 }
  
 } //form
 ]
}