{
 success: true,
 items: [
 {
  xtype: 'container',
  closable: true,
  title: 'Dett.Container',
    layout: {
	    type: 'vbox',
	    pack: 'start',
	    align: 'stretch'
	},
	
  	viewModel: {
			data: {
				rec: <%= raw @item.to_json(Activity.as_json_prop) -%>,
				activity_open: <%= raw @item.execution_date.nil? %>
			}	
	},  	

  items: [
       
   // grid con righe import
		 {
				flex: 1,
				layout: 'fit',
        	    title: <%= raw t('forms.damageds.details_label').to_json -%>, flex: 50,
        	    tools: [
                ],
        	    xtype: 'gridpanel',
        	    
        	    plugins: [
		          Ext.create('Ext.grid.plugin.CellEditing', {
		            clicksToEdit: 1,
		            listeners:{
			        	afteredit: function(cellEditor, context, eOpts){
				        	var grid = context.grid;
			        	   	grid.recalc_sum_amount.call(grid, grid);
			        	}
					 }
		          })
		        ],
		        
		        recalc_sum_amount: function(grid){
		        	var sum_amount = grid.down('#sum_amount'),	
		        		tmp_sum_amount = 0;
					grid.store.each(function(r){
						tmp_sum_amount += parseFloat(r.get('op_amount'));
					});
			        sum_amount.setValue(tmp_sum_amount);
		        },
		        
				autoScroll: true,  
				scroll: true,      	    
        	    store: new Ext.data.Store({
        	    	autoLoad: true,
        	    	fields: [],
        	    	proxy: {
        	            url: <%= raw  (root_path + 'custom_inspections/activity_dett_list').to_json -%>,
        	            extraParams: {
        	            	activity_id: <%= raw @item.id %>,
        	            	form_user: {},
        	            	set_amount:  <%= raw params[:set_amount].to_json %>
        	            },
        	            reader: {
        	                type: 'json',
							method: 'POST',        	                
        	                rootProperty: 'items'
        	            },
        	            paramsAsJson: true,
						method: 'POST',
						type: 'ajax',
			
						//Add these two properties
						actionMethods: {
							read: 'POST'
						},        	            
        	            
        	        }
        	        
        	    }),
        	   
 		        	   
        	           	   
        	   dockedItems: [

<% if params[:set_amount] == true %>
        	   {
        	   	xtype: 'toolbar', dock: 'bottom',
        	   	items: [{
		            text: 'Chiudi',												            
		            scale: 'large',
		            handler: function (btn, evt) {
		            	var tmp_win  = this.up('window');
		            	tmp_win.destroy();
		            }
		          }, '->', {
		            hidden: true, //non piu' usato
        	   		xtype: 'numberfield', 
        	   		fieldLabel: 'Totale costo operazioni',
        	   		itemId: 'sum_amount',
        	   		name: 'amount',
        	   		value: <%= @item.amount.to_f.to_json %>,
        	   		fieldStyle: 'font-weight: bold; font-size: 18px;'
        	   	}, {
				 	text: 'Chiudi attivit&agrave; e salva importo',
				 	scale: 'large', cls: 'btn-confirm',
				 	handler: function(){
				 		var me = this.up('grid');
				 		
				 		var containers_dett_amount = [];
				 		me.store.each(function(r){
				 		
				 			if (r.get('recalculate_gest_price') != true && Ext.isEmpty(r.get('op_amount'))){
				 				alert('Impostare tutti i prezzi');
				 				containers_dett_amount = null;
				 				return false;
				 			}
				 			
				 			if (r.get('recalculate_gest_price') == true && !Ext.isEmpty(r.get('op_amount'))){
				 				alert('Impostare il prezzo o Da Listino');
				 				containers_dett_amount = null;
				 				return false;
				 			}				 		
				 		
							containers_dett_amount.push({
								id: r.get('id'),
								recalculate_gest_price: r.get('recalculate_gest_price'),
								op_amount: r.get('op_amount')
							});
						});
				 		
				 		if (!Ext.isEmpty(containers_dett_amount)){
						  Ext.Ajax.request({
			                    url: <%= raw url_for(:controller=>'activities', :action=>'set_amount').to_json -%>,
			                    waitMsg: 'Salvataggio in corso....',
								method:'POST',                    
			                    jsonData: {data: {id: <%= params[:rec_id].to_json -%>, 
			                    				  amount: me.down('#sum_amount').getValue(),
			                    				  containers_dett_amount: containers_dett_amount
			                    				  }},	
			             	
								success: function(result, request) {					
									var returnData = Ext.JSON.decode(result.responseText);
									
									//error
									if (returnData.success == false){
										Ext.MessageBox.show({
					                        title: 'EXCEPTION',
					                        msg: returnData.message,
					                        icon: Ext.MessageBox.ERROR,
					                        buttons: Ext.Msg.OK
				                    	})
				                      return false;										
									}								
					 							
					 				//ok
					 				  var loc_win = this.up('window');
					 				  loc_win.fireEvent('afterSave', loc_win);
					 							
								}, scope: this,
								
								failure: function(rec, op) {
									var result = Ext.JSON.decode(op.getResponse().responseText);
									Ext.MessageBox.show({
				                        title: 'EXCEPTION',
				                        msg: result.message,
				                        //icon: Ext.MessageBox.ERROR,
				                        buttons: Ext.Msg.OK
			                    	})					
								}, scope: this,						
												 
					    	});	
					    }				 		
				 		
				 	}
				 }]
        	   },
<% end %>        	   
        	   
        	   { 
        	    xtype: 'toolbar', dock: 'top',
        	    items: [{
				    xtype: 'form',	
				    height: 50,
				    layout: {
					    type: 'hbox',
					    pack: 'start',
					    align: 'stretch'
					},
				    padding: '10 10 10 10',
				    items: [
						{
				            xtype: 'radiogroup',
				            fieldLabel: '',
				            layout: 'hbox',
				            items: [{
				                boxLabel: 'Con messa a disposizione',
				                bind: '{rec.to_be_made_available}',
				                width: 200                
				            }]
				        }, {
				            xtype: 'textfield',
			                fieldLabel: 'Richiesti', labelWidth: 100,
							bind: '{rec.quantity}',
			                width: 180
			            }
			            
			            <% if @item.scan_file.exists? %>
			            ,  {
			            	html: '<%= raw link_to "[Allegato]", @item.scan_file.url(:original, false), target: "_blank" %>'
			            }	        					
			            <% end %>		     
				    ]
				 }, {
				 	text: 'Aggiungi container',
				 	scale: 'large',
				 	bind: {disabled: '{!activity_open}'},
				 	handler: function(){
				 		var me = this.up('grid');
		            	<%= raw confirm_with_form(url_for(activity_id: @item.id, :controller=>'custom_inspections', :action=>'add_container_to_activity_dett'),
		            	"{xtype: 'textfield', name: 'container_number', fieldLabel: 'Container', allowBlank: false}", 
		            	"
							{
			            		afterSave: function(fromWin){
			            		    fromWin.destroy();
			            			me.store.load();
			            		}            	            	
			            	}            	
		            	") %>				 	
				 	}
				 }, '->',  {iconCls: 'fa fa-refresh fa-2x', scale: 'large', handler: function(event, toolEl, panel){
				 				this.up('grid').getStore().load();}}
				 ]
			  }
			],
        	           	    
        	    
			    columns: [{
			        dataIndex: 'container_number',
			        text: 'Seq',
			        width: 50,
			        renderer: function(value, metaData, rec, rowIndex, colIndex, store) {
			         return '<h5>' + (rowIndex + 1) + '</h5>';
			        }			        
			    }, {
			        dataIndex: 'container_number',
			        text: 'Container',
			        flex: 1,
			        renderer: function(value, metaData, rec, rowIndex, colIndex, store) {
			         ret = '<h1>' + rec.get('container_number') + '</h1>';
			         
			         if (!Ext.isEmpty(rec.get('creation_notes')))
			           ret += '<p>' + rec.get('creation_notes') + '</p>';
			         
			         
			         if (rec.get('status') == 'ANN')
			           ret += '<h2><font color=red>Richiesta annullata</font></h2>';
			         
			         
			         return ret;			         
			        }			        
			    }
			    
			    <% if @item.to_be_made_available == true %>
			    , {
			        dataIndex: 'container_number',
			        text: 'Messa a disposizione',
			        width: 150, align: 'center',
			        renderer: function(value, metaData, rec, rowIndex, colIndex, store) {
			         var me = this; //me = grid;			          
			         if (!Ext.isEmpty(rec.get('make_available_at'))){
			           ret = '<h3>' + Ext.util.Format.date(rec.get('make_available_at'), 'd-m-y H:i') + '</h3>';
			           if (!Ext.isEmpty(rec.get('make_available_notes')))
			             ret += '<div style="white-space:normal">' + rec.get('make_available_notes').replace(/(?:\r\n|\r|\n)/g, '<br />'); + '</div>';
			           return ret;
			         }
			     <% if @item.execution_date.nil? %>     
			         else {			           
			           var b_id = Ext.id();
					   setTimeout(function(){me.b_set_available.call(me, b_id, rec);}, 1);
					   return '<div id="' + b_id + '"></div>';			           
			         }
			      <% end %>   
			         			         
			        }			        
			    }
			    <% end %>
			    
			    , {
			        dataIndex: 'container_number',
			        text: 'Visita eseguita',
			        width: 150, align: 'center',
			        renderer: function(value, metaData, rec, rowIndex, colIndex, store) {
			         var me = this; //me = grid;			          
			         if (!Ext.isEmpty(rec.get('execution_at'))){
			           ret = '<h3>' + Ext.util.Format.date(rec.get('execution_at'), 'd-m-y H:i') + '</h3>';
			           if (!Ext.isEmpty(rec.get('execution_notes')))
			             ret += '<div style="white-space:normal">' + rec.get('execution_notes').replace(/(?:\r\n|\r|\n)/g, '<br />'); + '</div>';
			           return ret;
			         }
			      <% if @item.execution_date.nil? %>
			         else {			           
			           var b_id = Ext.id();
					   setTimeout(function(){me.b_set_execute.call(me, b_id, rec);}, 1);
					   return '<div id="' + b_id + '"></div>';			           
			         }
			      <% end %>   			         
			        }			        
			    }
			    
			    
			    <% if params[:set_amount] == true %>
			    , {
			    	dataIndex: 'op_amount',
			    	text: 'Importo', align: 'right',
			    	editor: {xtype: 'numberfield', allowBlank: true, msgTarget: 'under'},
					renderer: function(value, meta, rec){
						 
					      meta.style = 'border: 1px solid black;'; // applied style for DIV element
					      //meta.tdAttr = 'style="border:1px solid black;"'; // applied style for TD element
					      return value;      
					   }
			    }
			    
			    
			    
			    <% if @item.activity_op.recalculate_gest_price == true %>			    
			    , {
				    xtype:'checkcolumn',
				    text: 'Da listino',
				    dataIndex: 'recalculate_gest_price',
				    inputValue: true, uncheckedValue: false				    
				}
				<% end %>
				
				
				, {				    
				    text: 'Prezzo base',
				    dataIndex: 'op_amount',
				    align: 'right', width: 100,
				    renderer: function(value, meta, rec){						 
					      if (!Ext.isEmpty(rec.get('activity').activity_op.default_price))
					      	return parseFloat(rec.get('activity').activity_op.default_price);					      	
					      return null;
					}				    				    
				}
			    
			    
			    <% end %>
			            
        ] //columns
        
        
     	, listeners: {
     	
     	
 <% if params[:set_amount] == true %>
	 		afterrender: function(grid){
		     	grid.getStore().on('load', function(){
				    grid.recalc_sum_amount.call(grid, grid);
				}); 		
	 		},
<% end %>
     	
     	
        	itemcontextmenu : function(item, record, index, e, eOpts){
        		eOpts.stopEvent();
                var xy = eOpts.getXY();	                	
                new Ext.menu.Menu({
                    items : [
                             {
                                text : '<i class="fa fa-edit fa-1x"> Modifica</i>',                                                                                                        
                                handler: function(){
						     	 	new_win = acs_show_win_std('Modifica', <%= raw url_for(:controller=>'custom_inspections', 
						     	 				:action=>'modify_record').to_json -%>,
						     	 				{rec_id: record.get('id'), from_grid_id: this.id}, 800, 400);										                                                    
                                }, scope: this
                              }
                    ]
                }).showAt(xy);
            }
        }          
   
        


    , b_set_available: function(b_id, rec){
        var me = this; //grid
        var b = Ext.create('Ext.button.Button', {
        	text: 'Registra',
        	scale: 'large',
        	handler: function(){            	
            	<%= raw confirm_with_note(url_for(:controller=>'custom_inspections', :action=>'set_available'), "
							{
			            		afterSave: function(fromWin){
			            		    fromWin.destroy();
			            			me.store.load();
			            		}            	            	
			            	}            	
            	") %>
        	}
        });
		if (Ext.get(b_id)) {b.render(Ext.get(b_id));}      
      } //b_set
      
    , b_set_execute: function(b_id, rec){
        var me = this; //grid
        var b = Ext.create('Ext.button.Button', {
        	text: 'Registra',
        	scale: 'large',
        	handler: function(){
            	<%= raw confirm_with_note(url_for(:controller=>'custom_inspections', :action=>'set_execution'), "
							{
			            		afterSave: function(fromWin){
			            		    fromWin.destroy();
			            			me.store.load();
			            		}            	            	
			            	}            	
            	") %>        	
        	}
        });
		if (Ext.get(b_id)) {b.render(Ext.get(b_id));}      
      } //b_set      
      
                        	    
    }    
   
  ]
 }
 ]
}