{
 success: true,
 items: [
 {
  xtype: 'container',
  closable: true,
  title: 'Import',
    layout: {
	    type: 'vbox',
	    pack: 'start',
	    align: 'stretch'
	},
	
  	

  items: [
       
   // grid con righe import
		 {
				flex: 1,
				layout: 'fit',
        	    title: 'Righe import', flex: 50,
        	    tools: [
                ],
        	    xtype: 'gridpanel',
				autoScroll: true,  
				scroll: true,      	    
        	    store: new Ext.data.Store({
        	    	autoLoad: true,
        	    	fields: [],
        	    	proxy: {
        	            type: 'ajax',
        	            url: <%= raw  (root_path + 'import_headers/get_import_row').to_json -%>,
        	            extraParams: {import_header_id: <%= @ih.id -%>},
        	            reader: {
        	                type: 'json',
        	                rootProperty: 'items'
        	            }
        	        }
        	    }),
        	   
 		        	   
        	           	   
        	   dockedItems: [
        	   { 
        	    xtype: 'toolbar', dock: 'top', itemId: 'toptoolbar',
        	    items: [{
				    xtype: 'form',	
				    height: 50,
				    layout: {
					    type: 'hbox',
					    pack: 'start',
					    align: 'stretch'
					},
				    padding: '10 10 10 10',
				    items: [
				    	{
				    		flex: 1,
				            xtype: 'fieldcontainer',
				            fieldLabel: 'Data/Ora', labelAlign: 'right',
				            layout: 'hbox',
				            items: [
				            	{xtype: 'datefield', name: 'datetime_op_date', width: 120},
				            	{xtype: 'timefield', name: 'datetime_op_time', width:  70},
				            ]
				      }, {	
								flex: 1, padding: '0 0 0 10',
								xtype: 'checkboxfield',
				                boxLabel: 'Disabilita richiesta conferma',
				                name: 'hide_check',
				                inputValue: '1'
				      }
				      

				      
					 , {	
							flex: 1,
							xtype: 'checkboxfield',
			                boxLabel: 'Mostra anche gi&agrave; importati',
			                itemId: 'show_imported',
			                name: 'show_imported',
			                inputValue: '1'
					      }
				          
				     
				    ]
				 }
				 
				 , '->'
				 
				 
				 , {iconCls: 'fa fa-check-circle', text: 'Importa tutti', cls: 'btn-ok',
						handler: function(event, toolEl, panel){
											form = this.up('panel').down('form').getForm();
											grid = this.up('grid');
											
									Ext.Msg.confirm({
				                        title: 'Confirm',
				                        msg: 'Confermi l\'importazione di tutti i movimenti?',
				                        icon: Ext.MessageBox.ERROR,
				                        buttons: Ext.Msg.YESNO,
										fn: function(btn){                    
										         if (btn == "no"){ //NO, esco
										           return false;              
										        }
										        if (btn == "yes"){ //YES, proseguo

														Ext.getBody().mask("Loading...");
											
															Ext.Ajax.request({
															   method: 'POST',
															   url: '<%= url_for(:controller=>'import_items', :action=>'set_ok_all') -%>',
															   jsonData: {import_header_id: <%= @ih.id -%>, check_form: form.getValues()},
															   success: function(result, request) {
															   	  var jsonData = Ext.JSON.decode(result.responseText);
															   	  
															   	 	Ext.getBody().unmask();
															   	  
															   	  if (jsonData.success == false){
																	Ext.MessageBox.show({
												                        title: 'EXCEPTION',
												                        msg: jsonData.message,
												                        icon: Ext.MessageBox.ERROR,
												                        buttons: Ext.Msg.OK
											                    	})		
											                   		grid.getStore().load();													   	  
															   	  } else {
																      grid.getStore().load();															   	  
															   	  }															   	 
															   },
															   failure: function(response, opts) {
															  		Ext.getBody().unmask();
															      console.log('server-side failure with status code ' + response.status);
																	Ext.MessageBox.show({
												                        title: 'EXCEPTION',
												                        msg: 'Errore sconosciuto',
												                        icon: Ext.MessageBox.ERROR,
												                        buttons: Ext.Msg.OK
											                    	})						
											                    	grid.getStore().load();									   	  															      
															   }
															});	
												}			
											}
										})

				 		}
				 	},
				 
				    {iconCls: 'fa fa-refresh', handler: function(event, toolEl, panel){
				    
			                    
			                    header_form = this.up('grid').getDockedComponent('toptoolbar').down('form').getForm();
			                    header_form_values = header_form.getValues();

				    			show_imported = header_form.findField('show_imported').getValue();
				    			if (show_imported == true)
				    			 show_imported_out = 1;
				    			else
				    			 show_imported_out = 0;
				    			this.up('grid').store.proxy.extraParams.show_imported = show_imported_out;								    					 
				 				this.up('grid').getStore().load();}}
				 ]
			  }
			],
        	           	    
        	    
			    columns: [{
			        dataIndex: 'container_number',
			        text: 'Seq',
			        width: 50,
			        renderer: function(value, metaData, rec, rowIndex, colIndex, store) {
			         ret = '<h5>' + (rowIndex + 1) + '</h5>';
			         return ret;
			        }			        
			    }, {
			        dataIndex: 'container_number',
			        text: 'Container',
			        width: 220,
			        renderer: function(value, metaData, rec, rowIndex, colIndex, store) {
			         ret = '<h1>' + rec.get('container_number') + '</h1>';
			         ret += '<h5>Open mv: ' + rec.get('open_handling_header_id') + '</h5>'
			         return ret;
			        }			        
			    }, {
			        dataIndex: 'container_number',
			        text: 'Dettagli',
			        flex: 1,
			        renderer: function(value, metaData, rec, rowIndex, colIndex, store) {
			         ret = '';
			         ret += '<table class=import_item_detail>';
			         ret += '<tr><th>Armatore</th><td>' + rec.get('shipowner_id_Name') + '</td></tr>';
			         ret += '<tr><th>Equipment</th><td>' + rec.get('equipment_id_Name') + '</td></tr>';
			         ret += '<tr><th>Weight</th><td>' + rec.get('weight') + '</td></tr>';			         
			         ret += '</table>';
			         return ret;
			         
			        }			        	        
			    }, {
			        dataIndex: 'container_number',
			        text: 'Stato/temperatura',
			        flex: 1,
			        renderer: function(value, metaData, rec, rowIndex, colIndex, store) {
			         ret = '';
			         ret += '<table class=import_item_detail>';
			         ret += '<tr><th>Booking</th><td>' + rec.get('num_booking') + '</td></tr>';
			         ret += '<tr><th>Stato</th><td>' + rec.get('container_status') + '</td></tr>';
			         ret += '<tr><th>Temperature</th><td>' + rec.get('temperature') + '</td></tr>';			         
			         ret += '</table>';
			         return ret;
			         
			        }			        	        
			    }, {
			        text: 'Ok', width: 100, hidden: false, sortable: false,
			        renderer: function(value, metaData, rec, rowIndex, colIndex, store) {
			        	var loc_grid = this;
			        	if (Ext.isEmpty(rec.get('status')) == false) return '';
			            var id = Ext.id();
			            setTimeout(function() {
			            
			                	ok_img = 'fa-check-circle';
			                	btn_class = 'btn-ok';
			                	
			                	//solo per SBARCO, se container vuoto andra' ispezionato
			                	<% if @ih.import_type == 'D' %>
			                	 if (rec.get('container_status') == 'E'){
			                	  ok_img = 'fa-search';
			                	  btn_class = 'btn-warning';
			                	  }
			                	<% end %>
			            
			            
			                var buttonOK = Ext.create('Ext.button.Button', {
			                	
								text: '<i class="fa ' + ok_img + ' fa-3x"></i>',
								cls: btn_class,
		                		scale: 'large',			                    
			                        handler: function(button, b, c, d, e) {
			                        
			                           //costruisco una form
			                           //se ho spuntato 'hide_check' committo subito
			                           //altrimenti mostro la form per la conferma
			                           header_form = loc_grid.getDockedComponent('toptoolbar').down('form').getForm();
			                           header_form_values = header_form.getValues();
			                           
			                           loc_form = Ext.create('Ext.form.Panel', {
										    title: '',
										    bodyPadding: 10,
										    defaultType: 'textfield',
										    	layout: {
												    type: 'vbox',
												    align : 'stretch',
												    pack  : 'start',
												},
										    items: [
										    {
										            xtype: 'fieldcontainer',
										            fieldLabel: 'Data/Ora',
										            layout: 'hbox',
										            items: [
										                {xtype: 'hiddenfield', name: 'rec_id', value: rec.get('id')},										                 
										            	{xtype: 'datefield', name: 'datetime_op_date', width: 120, value: header_form_values.datetime_op_date},
										            	{xtype: 'timefield', name: 'datetime_op_time', width:  70, value: header_form_values.datetime_op_time},
										            ]
										      }, 
										      {xtype: 'textareafield', name: 'notes', fieldLabel: 'Notes'}										    										    										    
										    ]
										    , 	buttons:
											        [{
											            text: 'Conferma',
											            handler: function (btn, evt) {              
											             form = this.up('form').getForm();
											             tmp_win  = this.up('window');
											             if (form.isValid()) {
															Ext.Ajax.request({
															   method: 'POST',
															   url: '<%= url_for(:controller=>'import_items', :action=>'set_ok') -%>',
															   jsonData: {rec_id: rec.get('id'), check_form: form.getValues()},
															   success: function(result, request) {
															   	  var jsonData = Ext.JSON.decode(result.responseText);
															   	  
															   	  if (jsonData.success == false){
																	Ext.MessageBox.show({
												                        title: 'EXCEPTION',
												                        msg: jsonData.message,
												                        icon: Ext.MessageBox.ERROR,
												                        buttons: Ext.Msg.OK
											                    	})															   	  
															   	  } else {
																      store.remove(rec);
																      tmp_win.close();															   	  
															   	  }															   	 
															   },
															   failure: function(response, opts) {
															      console.log('server-side failure with status code ' + response.status);
																	Ext.MessageBox.show({
												                        title: 'EXCEPTION',
												                        msg: 'Errore sconosciuto',
												                        icon: Ext.MessageBox.ERROR,
												                        buttons: Ext.Msg.OK
											                    	})															   	  															      
															   }
															});	
														  return false;												             
											             }
											            }
											          }
											         ]
  
										});
										
										//submit con hide_check
										if (header_form.findField('hide_check').getValue() == true){
										 
										 //TODO: ottimizzazione:
										 // eseguire evento sul bottone salva
										 
											Ext.Ajax.request({
											   method: 'POST',
											   url: '<%= url_for(:controller=>'import_items', :action=>'set_ok') -%>',
											   jsonData: {rec_id: rec.get('id'), check_form: loc_form.getValues()},
															   success: function(result, request) {
															   	  var jsonData = Ext.JSON.decode(result.responseText);
															   	  
															   	  if (jsonData.success == false){
																	Ext.MessageBox.show({
												                        title: 'EXCEPTION',
												                        msg: jsonData.message,
												                        icon: Ext.MessageBox.ERROR,
												                        buttons: Ext.Msg.OK
											                    	})															   	  
															   	  } else {
																      store.remove(rec);															   	  
															   	  }															   	 
															   },
															   failure: function(response, opts) {
															      console.log('server-side failure with status code ' + response.status);
																	Ext.MessageBox.show({
												                        title: 'EXCEPTION',
												                        msg: 'Errore sconosciuto',
												                        icon: Ext.MessageBox.ERROR,
												                        buttons: Ext.Msg.OK
											                    	})															   	  															      
															   }

											});
										  		
										  return false;										
										}
										
										
										
			                           loc_win = Ext.create('Ext.window.Window',{
										    layout: 'fit',
										    items: loc_form,
										    title: 'Conferma import',
										    width: 500,
										    height: 300,
										    id: 'myWindow'
										}).show();
													                           			                           
			                           return false;

			                        }, scope: rec

			                });
			                
			                if (Ext.get(id)) {
			                    buttonOK.render(Ext.get(id));
			                }
			            }, 1);
			            return '<div id="' + id + '"></div>';
			        }
			     }, {
			        text: 'Danneggiato', width: 100, hidden: false, sortable: false,
			        renderer: function(value, metaData, rec, rowIndex, colIndex, store) {
			        	var loc_grid = this;			        
			        	if (Ext.isEmpty(rec.get('status')) == false) return '';			        
			            var id = Ext.id();
			            setTimeout(function() {

			                var buttonRotto = Ext.create('Ext.button.Button', {
								text: '<i class="fa fa-warning fa-3x"></i>',
								cls: 'btn-del',
		                		scale: 'large',			                    
			                        handler: function(grid, rowIndex, colIndex, a, b) {

		                           //costruisco una form
			                           //se ho spuntato 'hide_check' committo subito
			                           //altrimenti mostro la form per la conferma
			                           header_form = loc_grid.getDockedComponent('toptoolbar').down('form').getForm();
			                           header_form_values = header_form.getValues();
			                           
			                           loc_form = Ext.create('Ext.form.Panel', {
										    title: '',
										    bodyPadding: 10,
										    defaultType: 'textfield',
										    	layout: {
												    type: 'vbox',
												    align : 'stretch',
												    pack  : 'start',
												},
										    items: [
										    {
										            xtype: 'fieldcontainer',
										            fieldLabel: 'Data/Ora',
										            layout: 'hbox',
										            items: [
										                {xtype: 'hiddenfield', name: 'rec_id', value: rec.get('id')},										                 
										            	{xtype: 'datefield', name: 'datetime_op_date', width: 120, value: header_form_values.datetime_op_date},
										            	{xtype: 'timefield', name: 'datetime_op_time', width:  70, value: header_form_values.datetime_op_time},
										            ]
										      }, 
										      {xtype: 'textareafield', name: 'notes', fieldLabel: 'Notes'}										    										    										    
										    ]
										    , 	buttons:
											        [{
											            text: 'Conferma',
											            handler: function (btn, evt) {              
											             form = this.up('form').getForm();
											             tmp_win  = this.up('window');
											             if (form.isValid()) {
															Ext.Ajax.request({
															   method: 'POST',
															   url: '<%= url_for(:controller=>'import_items', :action=>'set_damaged') -%>',
															   jsonData: {rec_id: rec.get('id'), check_form: form.getValues()},
															   success: function(result, request) {
															   	  var jsonData = Ext.JSON.decode(result.responseText);
															   	  
															   	  if (jsonData.success == false){
																	Ext.MessageBox.show({
												                        title: 'EXCEPTION',
												                        msg: jsonData.message,
												                        icon: Ext.MessageBox.ERROR,
												                        buttons: Ext.Msg.OK
											                    	})															   	  
															   	  } else {
																      store.remove(rec);
																      tmp_win.close();															   	  
															   	  }															   	 
															   },
															   failure: function(response, opts) {
															      console.log('server-side failure with status code ' + response.status);
																	Ext.MessageBox.show({
												                        title: 'EXCEPTION',
												                        msg: 'Errore sconosciuto',
												                        icon: Ext.MessageBox.ERROR,
												                        buttons: Ext.Msg.OK
											                    	})															   	  															      
															   }

															});	
														  return false;												             
											             }
											            }
											          }
											         ]
  
										});


			                           loc_win = Ext.create('Ext.window.Window',{
										    layout: 'fit',
										    items: loc_form,
										    title: 'Conferma import',
										    width: 500,
										    height: 300,
										    id: 'myWindow'
										}).show();




			                        }, scope: rec

			                });			                
			                if (Ext.get(id)) {
			                    buttonRotto.render(Ext.get(id));
			                }
			            }, 1);
			            return '<div id="' + id + '"></div>';
			        }
			     }   
        
        ],
			    
			    

			    
			    listeners: {
					    celldblclick: function(gridView,htmlElement,columnIndex,rec){
					        if (columnIndex == 1) { //doppio click sul num_container... apro il movimento aperto
					        
					        	if (rec.get('open_handling_header_id') !== null){
									new_rec = HandlingHeader.load(rec.get('open_handling_header_id'));
							        newPanel = Ext.create('FeedViewer.MovimentoPanel', {
										title: 'Mov. ' + rec.get('container_number'),
										closable: true			
							        });
							        
			                		newPanel.getViewModel().setData({rec: new_rec, 
			                			is_handling_editable: false,
			                			is_container_editable: false
			                		});
			                    	myApp.feedInfo.add(newPanel).show();
						            myApp.feedInfo.setActiveTab(myApp.feedInfo.items.length - 1);
						        } //se ho un movimento aperto    
					        }
					    }
					}
				    

                        	    
        	}    
   
   
   
  ]
 }
 ]
}