    <script>
     //usato in my_models
     root_path = '<%= root_path -%>';
    </script>
    
    <%= javascript_include_tag "/FeedViewer/std_function.js" %>
    <%= javascript_include_tag "/FeedViewer/my_models.js" %>
    
    
    <script type="text/javascript">
    
        function hasOption (name) {
            return window.location.search.indexOf(name) >= 0;
        }

        Ext.Loader.setConfig({
        	enabled: true,
        	disableCaching : true,  
        	paths  : {
        		Sc : '/js/Sc',
        		FeedViewer: '<%= root_path -%>FeedViewer'
        	}
        });
        Ext.Loader.setPath('Ext.ux', '<%= root_path -%>ux');
        Ext.require([
            'Ext.*',
            'FeedViewer.MovimentoPanel',
            'FeedViewer.ScGrid', 'FeedViewer.MenuPanel', 'FeedViewer.NewHandlingHeaderPanel'
        ]);
        Ext.onReady(function(){
            if (hasOption('simjax')) {
                initAjaxSim();
            }


// ****** PER BUG UPDATE PROXY SU BUFFERED STORE
Ext.define('Ext.ux.fixed.BufferedStore', {
    override: 'Ext.data.BufferedStore',
    contains: function(record) {
        return this.indexOf(record) > -1;
    }
});


            Ext.QuickTips.init();            








s = Ext.create('Ext.container.Viewport',{
        height:590,
        width:590,
        padding:'25px',
        layout:'vbox',
        defaults:{
            width:'100%',
        },
        items:[
			{
			   xtype: 'tabpanel',
			   region: 'center',
            	
				items:[

					{
					   title: 'Home',
					   xtype: 'panel',					   
					    
		               minWidth: 300,
					   autoScroll: true,
					   flex: 1,
						layout: {
						    type: 'vbox',
						    align : 'stretch',
						    pack  : 'start',
						},             	
						margin: '10 10 0 10',
					    items: [
					      {xtype : "button", 
					    	text : '<i class="fa fa-download fa-2x" style="color:green;"></i><span style="margin-left: 20px;">Da movimentare</span>', 
					    	height: 60,
					    	 handler: function(){acs_show_panel_std(s.down('panel'), '<%= url_for(:controller=>'handling_headers', :action=>'list_by_filtered_type', :filtered_type => 'to_be_moved') -%>', {}, 'tttt');}
					      }
					    ]
					}

				]
			}
        ]

    });



      //      acs_show_panel_std(s.down('panel'), '<%= url_for(:controller=>'terminal_movs', :action=>'tab_dashboard') -%>', {}, 'tttt');



            
        });
    </script>