<style type="text/css">
<!--
@page { size:auto; margin: 1cm }
-->
 td.tot {font-weight: bold;}
</style>

<style media="print">
 h1.medaT-report{padding: 0px 0px; margin: 0px 0px; font-size: 13px;}
 table.medaT-report tr td, table.medaT-report tr th{font-size: 9px; padding: 0px 2px}
 span.parametri{font-size: 14px;}
</style>


<%
#Recupero elenco movimenti in base ai parametri

formValues = JSON.parse params['formValues']

items = Activity.where('1=1').joins(:customer)
items = items.where({customer_id: formValues['customer_id']}) unless formValues['customer_id'].blank?
items = items.where({activity_op_id: formValues['activity_op_id']}) unless formValues['activity_op_id'].blank?
items = items.where("execution_date >= ?", Date.parse(formValues['execution_date_from'])) unless formValues['execution_date_from'].blank?
items = items.where("execution_date <= ?", Date.parse(formValues['execution_date_to'])) unless formValues['execution_date_to'].blank?

items = items.where("amount_setted is not null") if formValues['fl_valutato'] == 'Y'
items = items.where("amount_setted is null") if formValues['fl_valutato'] == 'N'

items = items.order('customers.name')
group_customer = items.group_by { |d| d.customer_id }
total_amount = 0
total_activity = 0
%>

<h1>Stampa attivit&agrave; per cliente<br/><span class=parametri>[<%= formValues['execution_date_from'] -%> - <%= formValues['execution_date_to'].to_s -%>]</span></h1>

<%
 ######################################################
 #Customer
 ###################################################### 
%>
<% group_customer.each do |so_id, op_val| %>
	<%
	 customer = Customer.find(so_id)
	 customer_amount = 0
	 total_activity += op_val.count
	%>
    <p class="bg-primary" style="padding: 10px; margin-bottom: 1px;"><%= customer.name -%> [Totale attivit&agrave;: <%= op_val.count -%>]</p>
 
		<%
 		######################################################
 		#Attivita'
 		###################################################### 
		%>
		<table class="table table-striped table-bordered table-condensed medaT-report">
		 <tr>
		  <th width=80>Data</th>
		  <th>Descrizione</th>
		  <th width=100 align=right>Importo</th>
		 </tr>

			<% op_val.sort_by{|a| [a.execution_date]}.each do |row| %>
				<% customer_amount += row.amount.to_f %>
				<% total_amount += row.amount.to_f %>
	 			<tr>
	 				<td><%= row.execution_date.strftime("%d/%m/%y") -%></td>
					<td>
						<%= raw "<b>[ #{row.activity_op.name} ]</b>" unless row.activity_op.nil? -%>
						<%= row.notes -%>
						<% unless row.execution_notes.blank? -%>
							<br>[<%= row.execution_notes -%>]
						<% end %> 
						
						<% if !row.activity_type.nil? && row.activity_type.code == 'CUST_INSPECTION' %>
						  <% row.activity_dett_containers.each do |adc| %>						    
						    <%= raw "<br/> #{adc.container_number} - #{adc.dra_out}" -%>
						    
						    <%= raw ' [Dis]' if adc.make_available_at %>
						    <%= raw ' [Ese]' if adc.execution_at %>
						    <%= raw ' [Con]' if adc.confirmed_at %>								 
						    
						    <%= raw " [ANN]" if adc.status == 'ANN' -%>
						    <%= raw " (#{number_to_currency(adc.op_amount)})" if !adc.op_amount.nil? -%>
						  <% end %>
						<% end %>
						
					</td>				
					<td align=right><%= number_to_currency(row.amount) -%></td>
				</tr>
			<% end %>					
			
			<!-- tot cliente -->
				<tr>
	 				<td class=trasp>&nbsp;</td>
					<td class=tot align=right>Totale</td>				
					<td class=tot align=right><%= number_to_currency(customer_amount) -%></td>
				</tr>
		</table>

<% end %>


    <p class="bg-primary" style="padding: 10px; margin-bottom: 1px;">Totale generale [Totale attivit&agrave;: <%= total_activity -%>]</p>
 
		<%
 		######################################################
 		#TOTALE GENERALE
 		###################################################### 
		%>
		<table class="table table-striped table-bordered table-condensed medaT-report">		
				<tr>
					<td class=tot align=right colspan=2>Totale</td>				
					<td width=100 class=tot align=right><%= number_to_currency(total_amount) -%></td>
				</tr>
		</table>