<h1>Giacenze Terminal - Analitica</h1>

<%
#Recupero elenco movimenti in base ai parametri

formValues = JSON.parse params['formValues']

items = HandlingHeader.is_in_terminal().not_closed()
items = items.where(shipowner_id: formValues['shipowner_id']) unless formValues['shipowner_id'].blank?
items = items.where(container_FE: formValues['fl_FE']) unless formValues['fl_FE'].to_s.empty?


items = items.select('*')
group_shipowner = items.group_by { |d| d.shipowner_id }
%>


<%
 ######################################################
 #ShipOwner
 ###################################################### 
%>
<% group_shipowner.each do |so_id, so_val| %>
 <% so = Shipowner.find(so_id) %>

    <p class="bg-primary" style="padding: 10px"><%= so.name -%> (conteggio: <%= "#{so_val.count()}" -%>)</p>
 

	<%
 	######################################################
 	#Tipo operazioni
 	###################################################### 
	%>
 	<% group_op = so_val.group_by { |d| d.container_FE } %>
	<% group_op.each do |op_id, op_val| %>

 		<p class="bg-success" style="padding: 5px 10px"><%= op_id=='E' ? 'VUOTI' : 'PIENI' -%> (conteggio: <%= "#{op_val.count()}" -%>)</p>

		<%
 		######################################################
 		#Tipo operazioni
 		###################################################### 
		%>
		<table class="table table-striped table-bordered table-condensed">
		 <tr>
		  <th width=100>Tipo</th>
		  <th width=80>Container</th>
		  <th width=80>Booking</th>
		  <th width=80>Nave</th>
		  <th width=80>Viaggio</th>
		  <th width=80>Entrato il</th>
		 </tr>

		<% op_val.sort{|a,b| 
		
			if formValues['seq_ord'] == 'date_tipo'
				[a.last_IN, a.equipment.equipment_type] <=> [b.last_IN, b.equipment.equipment_type]
			else
				[a.equipment.equipment_type, a.last_IN] <=> [b.equipment.equipment_type, b.last_IN]
			end
		
			}.each do |row| %>
			<% eq = Equipment.find(row.equipment_id) %>
 			<tr>
				<td><%= eq.equipment_type -%></td>				
				<td><%= row.container_number.to_s -%></td>
				<td><%= row.num_booking.to_s -%></td>
				<td><%= !row.booking.nil? ? row.booking.ship.name : '' -%></td>
				<td><%= !row.booking.nil? ? row.booking.voyage : '' -%></td>
				<td><%= row.last_IN().datetime_op.strftime("%d/%m/%y %H:%M") -%></td>
			</tr>
		<% end %>
		</table>


	<% end %>








 
<% end %>