<h1>Giacenze Terminal - Sintetica</h1>

<%
#Recupero elenco movimenti in base ai parametri

formValues = JSON.parse params['formValues']
formValues = JSON.parse params['formValues']


items = HandlingHeader.is_in_terminal().not_closed()
items = items.where(shipowner_id: formValues['shipowner_id']) unless formValues['shipowner_id'].blank?
items = items.where(container_FE: formValues['fl_FE']) unless formValues['fl_FE'].to_s.empty?

group_shipowner = items.group_by { |d| d.shipowner_id }
%>


<%
 ######################################################
 #ShipOwner
 ###################################################### 
%>
<% group_shipowner.each do |so_id, so_val| %>
 <% so = Shipowner.find(so_id) %>

    <p class="bg-primary" style="padding: 10px"><%= so.name -%></p>
 

	<%
 	######################################################
 	#PIENI/VUOTI
 	###################################################### 
	%>
 	<% group_op = so_val.group_by { |d|
 		k = d.container_FE
 		if d.container_FE == 'F'
 		 #i pieni vengono divisi tra fase di import e export (se hanno booking)
 		 ie = d.with_booking == true ? '_E' : '_I'
 		 k = k + ie
 		end  
		k 	
 	} %>
	<% group_op.each do |op_id, op_val| %>
	

 		<p class="bg-success" style="padding: 5px 10px">
 			<%= op_id[0..1]=='E' ? 'VUOTI' : 'PIENI' -%>
 			<%= op_id[2..3]=='I' ? ' (fase di IMPORT)' : ' (fase di EXPORT)' unless op_id.size==1 -%>
 			 (conteggio: <%= "#{op_val.count()}" -%>)
 		</p>


		<%
 		######################################################
 		#Tipo container
 		###################################################### 
		%>
		<table class="table table-striped table-bordered table-condensed">
		 <tr>
		  <th width=200>Dimensione</th>
		  <th>Tipo</th>
		  <th width=80>Quantit&agrave;</th>
		 </tr>
 		
		<% op_val.group_by{|a| a.equipment}.sort{|a,b| a[0].sizetype <=> b[0].sizetype}.each do |row| %>		
			<% eq = row[0] %>
 			<tr>
				<td><%= eq.sizetype -%></td>
				<td><%= eq.equipment_type -%></td>				
				<td align=right><%= row[1].count -%></td>
			</tr>
		<% end %>
		</table>


	<% end %>
 
<% end %>