<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Meda T" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Meda T" %>">

    <%
     #disattivo, altrimenti provoca errori con css extjs
     #stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
     %>
    
    <!-- ExtJS -->
	 <link rel="stylesheet" type="text/css" href="/ext-5.0.1/ext-theme-crisp-all.css">
     <script type="text/javascript" src="/ext-5.0.1/ext-all.js"></script> 
     <script type="text/javascript" src="/ext-5.0.1/ext-theme-crisp.js"></script>       
	 <script type="text/javascript" src="/ext-5.0.1/ext-locale-it.js"></script>    
    <!-- //ExtJS -->
    
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

    
    <%= csrf_meta_tags %>    
    
  </head>
  <body>

   <%= yield %>

  </body>
</html>
