<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Meda T" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Meda T" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    
    <!-- ExtJS -->
	 <link rel="stylesheet" type="text/css" href="/ext-5.0.1_only/ext-theme-crisp-all.css">
     <script type="text/javascript" src="/ext-5.0.1_only/ext-all-debug.js"></script> 
     <script type="text/javascript" src="/ext-5.0.1_only/ext-theme-crisp.js"></script>       
	 <script type="text/javascript" src="/ext-5.0.1_only/ext-locale-it.js"></script>    
     <!-- //ExtJS -->
    
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render 'report_buttons' %>
    </header>
    <main role="main">
       <%= render 'layouts/messages' %>
       <%= yield %>
    </main>
    
  </body>
</html>
